<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Charactergenerator</title>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<style>
		.table td.points {
			text-align: right;
			font-size: 20px;
			letter-spacing: -2px;
		}

		.table td.caption {
			width: 35%;
		}
	</style>
</head>

<body>
<div class="container">

{% if config.general %}
	<h2>Allgemein</h2>
	<table class="table table-hover">
	{%  for gid, group in stats %}{% if group.creation.total == 1 %}
		<tr>
			<td class="caption">{{ group.name }}</td>
			<td class="points">{% for pid, property in group.values %}{% if char[gid][pid] %}{{ property.name }}{% endif %}{% endfor %}</td>
		</tr>
	{% endif %}{% endfor %}
	</table>
{%  endif %}

{%  for gid, group in stats %}{% if group.creation.total != 1 %}
<h2>{{ group.name }}</h2>
<table class="table table-hover">
	<tr>
		<th>Eigentschaft</th>

		{% for col in group.columns %}
			<th>{{ col.name }}</th>
		{% endfor %}

		<th>Wert</th>
	</tr>


	{% for pid, property in group.values %}
		{% if char[gid][pid] or group.creation.total >= group.values|length / 3 or group.detailed %}
		<tr>
			<td class="caption">{{ property.name }}</td>

			{% for k, col in group.columns %}
				<td>
				{% if col.input %}

				{% elseif col.expression %}
					<script>(function() {var value = {{ char[gid][pid] }}; document.write({{ col.expression }}); })();</script>
				{% elseif col.value %}
					{{ property[col.value] }}
				{% endif %}
				</td>
			{% endfor %}

			{% if group.min != 1 or group.max != 1 %}
			<td class="points">
				{% if group.max > 6 %}
					{{ char[gid][pid] }}
				{% else %}
					{% for i in 1..group.max %}
						{% if i <= char[gid][pid] %}&#x2b1b;{% else %}&#x2b1c;{% endif %}
					{% endfor %}
				{% endif %}
			</td>
			{% endif %}
		</tr>
		{% endif %}
	{% endfor %}


</table>
{% endif %}{% endfor %}

</div>
</body>
</html>
