<table class="table table-hover">
	<tr>
		<th>Eigentschaft</th>

		{% for col in group.columns %}
			<th>{{ col.name }}</th>
		{% endfor %}

		{%  if group.min != 1 or group.max != 1 %}
			<th width="100">Wert</th>
		{% endif %}
	</tr>



	<tr class="stat-select">
		<td>
			<button type="button" class="btn btn-danger"><span class="icon-remove"></span></button>

			<select name="{{ gid }}[0][type]" class="selectpicker span3" data-size="10" data-selected-text-format="count>3"
			        {% if group.values|length > 30 %}data-live-search="true"{% endif %}>
				{% for pid, property in group.values %}
					<option data-info="{{ property.description }}" data-min="{{ property.min }}" data-max="{{ property.max }}" value="{{ pid }}">{{ property.name }}</option>
				{% endfor %}
			</select>

			{%  if group.min == 1 and group.max == 1 %}
			<input name="{{ gid }}[0][value]" type="hidden" value="1" class="hidden">
			{% endif %}
		</td>

		{% for k, col in group.columns %}
			<td class="{{ gid }}-{{ k }}">{% if col.value %}{{ property[col.value] }}{% endif %}</td>
		{% endfor %}

		{% if group.min != 1 or group.max != 1 %}
			<td><input name="{{ gid }}[0][value]" type="text" value="{{ group.creation.default }}" class="spinedit" ></td>
		{% endif %}
	</tr>
</table>

<button type="button" class="btn add"><span class="icon-plus"></span> Add</button>

<script>
	$(function() {
		var allowed = '{{ group.creation.total }}'|0;
		var row = $('#{{ gid }} tr.stat-select');
		var append = '<tr class="stat-select">'+row.html()+'</tr>';
		var i = 1;

		function updateTotal() {
			var total = 0;

			$('#{{ gid }} .spinedit, #{{ gid }} .hidden').each( function( k, v ) {
				var value = v.value|0;
				total += value;

				{% for k,col in group.columns %}{% if col.expression %}
				$(v).parent().parent().find('.{{ gid }}-{{ k }}').text({{ col.expression }});
				{% endif %}{% endfor %}
			});

			var bubble = $('#{{ gid }}-total');
			bubble.html(total+'/'+allowed);

			if( allowed == total ) bubble.addClass('label-success'); else bubble.removeClass('label-success');
			if( allowed < total ) bubble.addClass('label-important'); else bubble.removeClass('label-important');
		}

		function remove() {
			$(this).parent().parent().remove();
			updateTotal();
		}

		function add( v ) {
			var snippet = $(append.replace(/\[0\]/g, '['+(i++)+']' ));
			snippet.find('.selectpicker').selectpicker();
			snippet.find('.spinedit').spinedit({minimum: {{ group.min }}, maximum: {{ group.max }}});
			snippet.find('.spinedit').on( 'valueChanged', updateTotal );
			snippet.find('.btn-danger').on( 'click', remove );
			$('#{{ gid }} .table tbody').append( snippet );
			updateTotal();
			return false;
		}

		$('#{{ gid }} > .add').click( function() { add($(this)); });

		$('#{{ gid }} .stat-select .selectpicker').selectpicker();
		$('#{{ gid }} .stat-select .spinedit').spinedit({minimum: {{ group.min }}, maximum: {{ group.max }}});
		$('#{{ gid }} .stat-select .spinedit').on( 'valueChanged', updateTotal );
		$('#{{ gid }} .stat-select .btn-danger').on( 'click', remove );

		updateTotal();
	});
</script>
