{% for pid, property in group.values %}
    <button class="btn character-element" data-name="{{ gid }}[{{ pid }}]"><strong>{{ property.name }}:</strong> {{ property.description|raw }}</button>
{%  endfor %}

<input type="hidden" id="{{ gid }}-value" value="1">

<script>
    $(function() {
        $('#{{ gid }} > button').click(function() {
            $('#{{ gid }} > button').removeClass('active');
            $(this).addClass('active');
            $('#{{ gid }}-value').attr('name', $(this).data('name'));
            return false;
        });

        $('#{{ gid }} > button:first').click();
    });
</script>
