<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Charactergenerator</title>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<link href="http://splitter.iv-dev.de/style/splitter/css/bootstrap-select.css" rel="stylesheet">
	<link href="http://splitter.iv-dev.de/style/splitter/css/bootstrap-spinedit.css" rel="stylesheet">

	<script type="text/javascript" src="http://splitter.iv-dev.de/style/splitter/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="http://splitter.iv-dev.de/style/splitter/js/bootstrap-spinedit.js"></script>

	<style>
		.totalcounter  {
			line-height: 30px;
			font-size: 20px;
			margin: 15px 0;
		}

		.table { margin-bottom: 0; }
		.table input, .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] { 	margin-bottom: 0; }
		.table div.spinedit { top: 5px; }
		.table td { vertical-align: middle; }
		.tab-content { padding-bottom: 300px }
		.character-element {
			padding: 10px 15px;
			width: 90%;
			margin: 10px auto;
			text-align: justify;
			display: inline-block;
			white-space: pre-wrap;
		}
	</style>
</head>

<body>
<form action="index.php" method="get" class="container" style="max-width: 650px;">

	<input type="hidden" name="system" value="{{ system }}">

{% if config.mode == 'tabs' %}
	<p style="float: right; margin-top: 20px;">
		<button name="save" class="btn btn-small btn-primary" type="submit">Speichern</button>
	</p>

	<ul class="nav nav-tabs" id="myTab" style="margin-top: 20px;">
		{%  for gid, group in stats %}
			<li><a href="#{{ gid }}-tab">{{ group.name }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
{% endif %}

{%  for gid, group in stats %}
	{% if config.mode == "tabs" %}<div class="tab-pane" id="{{ gid }}-tab">{% endif %}
	<div class="pull-right label totalcounter" id="{{ gid }}-total"></div>
	<h2>{{ group.name }}</h2>

	<div id="{{ gid }}" style="clear: both;">
		{% if group.creation.total == 1 %}
			{# Compact edit mode #}
			{% include "component.twig" %}
		{% elseif group.creation.total < group.values|length / 3 and not group.detailed %}
			{# Compact edit mode #}
			{% include "compact.twig" %}
		{% else %}
			{# Detail mode #}
			{% include "detailed.twig" %}
		{% endif %}
	</div>
	{% if config.mode == "tabs" %}</div>{% endif %}
{% endfor %}

{% if config.mode == "tabs" %}
	</div>

	<script>
		$(function() {
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});

			$('#myTab a:first').tab('show');
		});
	</script>
{% else %}
	<p style="text-align: right">
		<button name="save" class="btn btn-large btn-primary" type="submit">Speichern</button>
	</p>
{% endif %}


</form>

<script>
	$(function() {
		$('.tt').tooltip();
	});
</script>
</body>

</html>
