<table class="table table-hover">
	<tr>
		<th>Eigentschaft</th>

		{% for col in group.columns %}
			<th>{{ col.name }}</th>
		{% endfor %}

		<th width="100">Wert</th>
	</tr>

	{% for pid, property in group.values %}
		<tr>
			<td><div class="tt" title="{{ property.description }}">{{ property.name }}</div></td>

			{% for k, col in group.columns %}
				<td class="{{ gid }}-{{ k }}">
					{% if col.input %}
						<input name="{{ gid }}-{{ k }}[{{ pid }}]" value="{{ col.creation.default }}" data-min="{{ property[k].min }}" data-max="{{ property[k].max }}" type="text" class="spinedit  char-{{ k }}">
					{% elseif col.value %}
						{{ property[col.value] }}
					{% endif %}
				</td>
			{% endfor %}

			<td><input name="{{ gid }}[{{ pid }}]" value="{{ group.creation.default }}" data-min="{{ property.min }}" data-max="{{ property.max }}" type="text" class="spinedit char-{{ gid }}"></td>
		</tr>
	{% endfor %}
</table>

<script>
	$(function() {
		function updateTotal() {
			var total = 0;

			$('#{{ gid }} input.spinedit.char-{{ gid }}').each(function(k,v) {
				var value = v.value|0;
				total += value;

				{% for k,col in group.columns %}{% if col.expression %}
				$(v).parent().parent().find('.{{ gid }}-{{ k }}').text({{ col.expression }});
				{% endif %}{% endfor %}
			});

			var label = $('#{{ gid }}-total');
			label.text(total+'/{{ group.creation.total }}');
			if( total == {{ group.creation.total }}) label.addClass('label-success').removeClass('label-important');
			else if( total > {{ group.creation.total }}) label.addClass('label-important').removeClass('label-success');
		}

		$('#{{ gid }} input.spinedit.char-{{ gid }}').each(function(k,v) {
			var ele = $(v);

			var min = ele.data('min') != '' ? Math.max( ele.data('min'), {{ group.min }}) : {{ group.min }};
			var max = ele.data('max') != '' ? Math.min( ele.data('max'), {{ group.max }}) : {{ group.max }};

			ele.spinedit({minimum: min, maximum: max}).on('valueChanged', updateTotal);
		});


		{% for k, col in group.columns %}{% if col.input %}

		$('#{{ gid }} input.spinedit.char-{{ k }}').each(function(k,v) {
			var ele = $(v);

			var min = ele.data('min') != '' ? Math.max( ele.data('min'), {{ col.min }}) : {{ col.min }};
			var max = ele.data('max') != '' ? Math.min( ele.data('max'), {{ col.max }}) : {{ col.max }};

			ele.spinedit({minimum: min, maximum: max}).on('valueChanged', updateTotal);
		});

		{% endif %}{% endfor %}

		updateTotal();
	});
</script>
